
.invoice-card{
    // max-width: 950px !important;
  .form-container{
    .form-fields{
      display: flex;
      margin-top: 15px;
      mat-form-field{
        padding: 10px;

      }
    }
  }
}
