
.invoice-card{
  &-button{

      display: flex;
      align-items: start;
      justify-content: center;

  }
  mat-card-actions  {
      button {
          margin-right: 10px;
      }
}
  .form-container{
    .form-fields{

      margin-top: 15px;

      mat-form-field{
        padding: 10px;

      }
    }
  }
  .invoice-card-items {
    .mat-mdc-form-field-infix, mat-label {
      font-size: 0.8rem;
    }
    .row > * {

      .i-item{
        display: flex;
        align-items: start;
        justify-content: center;
        font-size: 0.8rem;
        span{
          margin-top: 10px;
        }

      }
    }

  }
}
